# Pandas

### Pandas DataFrames

* Pandas is a high-level data manipulation tool.
* It is built on the Numpy package and its key data structure is called the DataFrame.
* DataFrames allow you to store and manipulate tabular data in rows of observations and columns of variables.
* Main data structures in Pandas

## Create a dataframe from a dictionary

In [1]:
dict1 = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
           "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
           "area": [8.516, 17.10, 3.286, 9.597, 1.221],
           "population": [200.4, 143.5, 1252, 1357, 52.98]}

In [2]:
print(dict1)

{'country': ['Brazil', 'Russia', 'India', 'China', 'South Africa'], 'capital': ['Brasilia', 'Moscow', 'New Dehli', 'Beijing', 'Pretoria'], 'area': [8.516, 17.1, 3.286, 9.597, 1.221], 'population': [200.4, 143.5, 1252, 1357, 52.98]}

In [3]:
import numpy as np
import pandas as pd

In [4]:
pd.__version__

'1.4.2'

In [5]:
pd.DataFrame(dict1)

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [6]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [7]:
df1 = pd.DataFrame(dict1)

In [8]:
# Access the data frame column
df1.columns; list(df1.columns)
# Access row index no.s 
df1.index;list(df1.index)
# access the value 
df1.values

Index(['country', 'capital', 'area', 'population'], dtype='object')

['country', 'capital', 'area', 'population']

RangeIndex(start=0, stop=5, step=1)

[0, 1, 2, 3, 4]

array([['Brazil', 'Brasilia', 8.516, 200.4],
       ['Russia', 'Moscow', 17.1, 143.5],
       ['India', 'New Dehli', 3.286, 1252.0],
       ['China', 'Beijing', 9.597, 1357.0],
       ['South Africa', 'Pretoria', 1.221, 52.98]], dtype=object)

In [9]:
# modifying columns & row index of a data frame

df1.columns = ['Country', 'Capital', 'Area', 'Population']
df1.index = ['BR','RU','IN','CH','SA']

In [10]:
df1

         Country    Capital    Area  Population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

## Create a dataframe from a list & array

In [11]:
# Using a list
country = ["Brazil", "Russia", "India", "China", "South Africa"]
capital =  ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"]
area = [8.516, 17.10, 3.286, 9.597, 1.221]
population = [200.4, 143.5, 1252, 1357, 52.98]

In [12]:
list(zip(country,capital,area,population))

[('Brazil', 'Brasilia', 8.516, 200.4),
 ('Russia', 'Moscow', 17.1, 143.5),
 ('India', 'New Dehli', 3.286, 1252),
 ('China', 'Beijing', 9.597, 1357),
 ('South Africa', 'Pretoria', 1.221, 52.98)]

In [13]:
pd.DataFrame(zip(country,capital,area,population),columns=['Country', 'Capital', 'Area', 'Population'])

        Country    Capital    Area  Population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [14]:
# Using an aaray

arr1 = np.array([["Brazil", "Russia", "India", "China", "South Africa"],
["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
[8.516, 17.10, 3.286, 9.597, 1.221],
[200.4, 143.5, 1252, 1357, 52.98]])

In [15]:
arr1

array([['Brazil', 'Russia', 'India', 'China', 'South Africa'],
       ['Brasilia', 'Moscow', 'New Dehli', 'Beijing', 'Pretoria'],
       ['8.516', '17.1', '3.286', '9.597', '1.221'],
       ['200.4', '143.5', '1252', '1357', '52.98']], dtype='<U32')

In [16]:
arr1.T
np.transpose(arr1)

array([['Brazil', 'Brasilia', '8.516', '200.4'],
       ['Russia', 'Moscow', '17.1', '143.5'],
       ['India', 'New Dehli', '3.286', '1252'],
       ['China', 'Beijing', '9.597', '1357'],
       ['South Africa', 'Pretoria', '1.221', '52.98']], dtype='<U32')

array([['Brazil', 'Brasilia', '8.516', '200.4'],
       ['Russia', 'Moscow', '17.1', '143.5'],
       ['India', 'New Dehli', '3.286', '1252'],
       ['China', 'Beijing', '9.597', '1357'],
       ['South Africa', 'Pretoria', '1.221', '52.98']], dtype='<U32')

In [17]:
pd.DataFrame(arr1.T,columns=['Country','Capital','Area','Population'])

        Country    Capital   Area Population
0        Brazil   Brasilia  8.516      200.4
1        Russia     Moscow   17.1      143.5
2         India  New Dehli  3.286       1252
3         China    Beijing  9.597       1357
4  South Africa   Pretoria  1.221      52.98

In [18]:
pd.DataFrame(np.transpose(arr1),columns=['Counrty','Capital','Area','Population'])

        Counrty    Capital   Area Population
0        Brazil   Brasilia  8.516      200.4
1        Russia     Moscow   17.1      143.5
2         India  New Dehli  3.286       1252
3         China    Beijing  9.597       1357
4  South Africa   Pretoria  1.221      52.98

## Create a dataframe from a file

In [19]:
#load the dataset

car_df = pd.read_csv(r'C:\Users\Sumit\INNOMATICS Project 151\Data Folder\car_data.csv')

In [20]:
car_df

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,13495
1,2,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,16500
2,3,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,ohcv,six,152,mpfi,9.0,154,5000,19,26,16500
3,4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950
4,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,9.5,114,5400,23,28,16845
201,202,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,8.7,160,5300,19,25,19045
202,203,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,ohcv,six,173,mpfi,8.8,134,5500,18,23,21485
203,204,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,six,145,idi,23.0,106,4800,26,27,22470
204,205,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,9.5,114,5400,19,25,22625

### DataFrame Properties

In [21]:
car_df.shape

(205, 23)

In [22]:
car_df.head()
car_df.tail()

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,13495
1,2,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,16500
2,3,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,ohcv,six,152,mpfi,9.0,154,5000,19,26,16500
3,4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950
4,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
200,201,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,9.5,114,5400,23,28,16845
201,202,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,8.7,160,5300,19,25,19045
202,203,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,ohcv,six,173,mpfi,8.8,134,5500,18,23,21485
203,204,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,six,145,idi,23.0,106,4800,26,27,22470
204,205,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,9.5,114,5400,19,25,22625

In [23]:
type(car_df)

pandas.core.frame.DataFrame

In [24]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         205 non-null    int64
 1   make               205 non-null    object
 2   fuel_type          205 non-null    object
 3   aspiration         205 non-null    object
 4   num_of_doors       205 non-null    object
 5   body_style         205 non-null    object
 6   drive_wheels       205 non-null    object
 7   engine_location    205 non-null    object
 8   wheel_base         205 non-null    float64
 9   length             205 non-null    float64
 10  width              205 non-null    float64
 11  height             205 non-null    float64
 12  curb_weight        205 non-null    int64
 13  engine_type        205 non-null    object
 14  num_of_cylinders   205 non-null    object
 15  engine_size        205 non-null    int64
 16  fuel_system        205 non-null    object
 17  compression_ratio  205 non-null    float64
 18  horsepower         205 non-null    object
 19  peak_rpm           205 non-null    object
 20  city_mpg           205 non-null    int64
 21  highway_mpg        205 non-null    int64
 22  price              205 non-null    object
dtypes: float64(5), int64(5), object(13)
memory usage: 37.0+ KB

In [25]:
car_df.columns

Index(['Unnamed: 0', 'make', 'fuel_type', 'aspiration', 'num_of_doors',
       'body_style', 'drive_wheels', 'engine_location', 'wheel_base', 'length',
       'width', 'height', 'curb_weight', 'engine_type', 'num_of_cylinders',
       'engine_size', 'fuel_system', 'compression_ratio', 'horsepower',
       'peak_rpm', 'city_mpg', 'highway_mpg', 'price'],
      dtype='object')

In [26]:
car_df.index

RangeIndex(start=0, stop=205, step=1)

In [27]:
car_df.dtypes

Unnamed: 0             int64
make                  object
fuel_type             object
aspiration            object
num_of_doors          object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_of_cylinders      object
engine_size            int64
fuel_system           object
compression_ratio    float64
horsepower            object
peak_rpm              object
city_mpg               int64
highway_mpg            int64
price                 object
dtype: object

In [28]:
car_df.describe()
car_df.describe(include='all')

,Unnamed: 0,wheel_base,length,width,height,curb_weight,engine_size,compression_ratio,city_mpg,highway_mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,59.322565,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,1.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,52.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,103.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,154.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,205.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
count,205.000000,205,205,205,205,205,205,205,205.000000,205.000000,...,205,205,205.000000,205,205.000000,205,205,205.000000,205.000000,205
unique,NaN,22,2,2,3,5,3,2,NaN,NaN,...,7,7,NaN,8,NaN,60,24,NaN,NaN,187
top,NaN,toyota,gas,std,four,sedan,fwd,front,NaN,NaN,...,ohc,four,NaN,mpfi,NaN,68,5500,NaN,NaN,?
freq,NaN,32,185,168,114,96,120,202,NaN,NaN,...,148,159,NaN,94,NaN,19,37,NaN,NaN,4
mean,103.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.756585,174.049268,...,NaN,NaN,126.907317,NaN,10.142537,NaN,NaN,25.219512,30.751220,NaN
std,59.322565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.021776,12.337289,...,NaN,NaN,41.642693,NaN,3.972040,NaN,NaN,6.542142,6.886443,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,141.100000,...,NaN,NaN,61.000000,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,52.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,166.300000,...,NaN,NaN,97.000000,NaN,8.600000,NaN,NaN,19.000000,25.000000,NaN
50%,103.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,173.200000,...,NaN,NaN,120.000000,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,154.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,183.100000,...,NaN,NaN,141.000000,NaN,9.400000,NaN,NaN,30.000000,34.000000,NaN
max,205.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,208.100000,...,NaN,NaN,326.000000,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

### Accessing the dataframe content - Indexing and Selecting Data
* Dataframe[]: [] indexing operator
* Dataframe.loc[]: used for labels.
* Dataframe.iloc[]: used for positions or integer based

### Using Dataframe[ ]

In [29]:
car_df['make']
type(car_df['make'])

0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
          ...
200          volvo
201          volvo
202          volvo
203          volvo
204          volvo
Name: make, Length: 205, dtype: object

pandas.core.series.Series

In [30]:
car_df['make'].head()
car_df['make'].tail()
car_df['make'].shape
car_df['make'].info()
car_df['make'].describe()
car_df['make'].value_counts()
type(car_df['make'].value_counts())

0    alfa-romero
1    alfa-romero
2    alfa-romero
3           audi
4           audi
Name: make, dtype: object

200    volvo
201    volvo
202    volvo
203    volvo
204    volvo
Name: make, dtype: object

(205,)

<class 'pandas.core.series.Series'>
RangeIndex: 205 entries, 0 to 204
Series name: make
Non-Null Count  Dtype
--------------  -----
205 non-null    object
dtypes: object(1)
memory usage: 1.7+ KB

count        205
unique        22
top       toyota
freq          32
Name: make, dtype: object

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: make, dtype: int64

pandas.core.series.Series

In [31]:
# attributes of a pandas series

car_df['make'].value_counts().index
car_df['make'].value_counts().values
car_df['make'].head()
car_df['make'].head().index
car_df['make'].head().values

Index(['toyota', 'nissan', 'mazda', 'mitsubishi', 'honda', 'volkswagen',
       'subaru', 'peugot', 'volvo', 'dodge', 'mercedes-benz', 'bmw', 'audi',
       'plymouth', 'saab', 'porsche', 'isuzu', 'jaguar', 'chevrolet',
       'alfa-romero', 'renault', 'mercury'],
      dtype='object')

array([32, 18, 17, 13, 13, 12, 12, 11, 11,  9,  8,  8,  7,  7,  6,  5,  4,
        3,  3,  3,  2,  1], dtype=int64)

0    alfa-romero
1    alfa-romero
2    alfa-romero
3           audi
4           audi
Name: make, dtype: object

RangeIndex(start=0, stop=5, step=1)

array(['alfa-romero', 'alfa-romero', 'alfa-romero', 'audi', 'audi'],
      dtype=object)

In [32]:
# ways to extract a single column
car_df['make'].head()
car_df.make.head()

0    alfa-romero
1    alfa-romero
2    alfa-romero
3           audi
4           audi
Name: make, dtype: object

0    alfa-romero
1    alfa-romero
2    alfa-romero
3           audi
4           audi
Name: make, dtype: object

Consider the column names with spaces
* Mfg Name
>car_df.Mfg Name will not work

> car_df['Mfg Name'] will always work

### Access more than one column

In [33]:
# Access the more then one column
car_df[['make','fuel_type']] 
type(car_df[['make','fuel_type']])
car_df[['make','fuel_type','price']].head()

            make fuel_type
0    alfa-romero       gas
1    alfa-romero       gas
2    alfa-romero       gas
3           audi       gas
4           audi       gas
..           ...       ...
200        volvo       gas
201        volvo       gas
202        volvo       gas
203        volvo    diesel
204        volvo       gas

[205 rows x 2 columns]

pandas.core.frame.DataFrame

          make fuel_type  price
0  alfa-romero       gas  13495
1  alfa-romero       gas  16500
2  alfa-romero       gas  16500
3         audi       gas  13950
4         audi       gas  17450

### Access data frame rows

In [34]:
car_df[1:5] # extracting multiple rows
car_df[0:10:2] # extracting alternate rows
car_df[4:5] # extracting single row

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
1,2,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,16500
2,3,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,ohcv,six,152,mpfi,9.0,154,5000,19,26,16500
3,4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950
4,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,13495
2,3,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,ohcv,six,152,mpfi,9.0,154,5000,19,26,16500
4,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450
6,7,audi,gas,std,four,sedan,fwd,front,105.8,192.7,...,ohc,five,136,mpfi,8.5,110,5500,19,25,17710
8,9,audi,gas,turbo,four,sedan,fwd,front,105.8,192.7,...,ohc,five,131,mpfi,8.3,140,5500,17,20,23875

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
4,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450

In [35]:
# get the 10th -15th row and mgp columns
car_df[10:16][['city_mpg','highway_mpg']]

    city_mpg  highway_mpg
10        23           29
11        23           29
12        21           28
13        21           28
14        20           25
15        16           22

## using DataFrame.loc[]

In [36]:
car_df.loc[:,:]# entire dataframe

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,13495
1,2,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,16500
2,3,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,ohcv,six,152,mpfi,9.0,154,5000,19,26,16500
3,4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950
4,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,9.5,114,5400,23,28,16845
201,202,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,8.7,160,5300,19,25,19045
202,203,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,ohcv,six,173,mpfi,8.8,134,5500,18,23,21485
203,204,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,six,145,idi,23.0,106,4800,26,27,22470
204,205,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,9.5,114,5400,19,25,22625

In [37]:
car_df.loc[1:5, :]

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
1,2,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,16500
2,3,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,ohcv,six,152,mpfi,9.0,154,5000,19,26,16500
3,4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950
4,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450
5,6,audi,gas,std,two,sedan,fwd,front,99.8,177.3,...,ohc,five,136,mpfi,8.5,110,5500,19,25,15250

In [38]:
df1

         Country    Capital    Area  Population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [39]:
df1.loc['BR':'IN']

   Country    Capital    Area  Population
BR  Brazil   Brasilia   8.516       200.4
RU  Russia     Moscow  17.100       143.5
IN   India  New Dehli   3.286      1252.0

In [40]:
car_df.loc[1:5,'make':'drive_wheels']

          make fuel_type aspiration num_of_doors   body_style drive_wheels
1  alfa-romero       gas        std          two  convertible          rwd
2  alfa-romero       gas        std          two    hatchback          rwd
3         audi       gas        std         four        sedan          fwd
4         audi       gas        std         four        sedan          4wd
5         audi       gas        std          two        sedan          fwd

In [41]:
car_df.loc[[1,10,20],['make','num_of_doors','engine_location']]

           make num_of_doors engine_location
1   alfa-romero          two           front
10          bmw          two           front
20    chevrolet         four           front

## Using Dataframe.iloc[ ]

In [42]:
car_df.iloc[:,:] # complete data frame

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,13495
1,2,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,16500
2,3,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,ohcv,six,152,mpfi,9.0,154,5000,19,26,16500
3,4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950
4,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,9.5,114,5400,23,28,16845
201,202,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,8.7,160,5300,19,25,19045
202,203,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,ohcv,six,173,mpfi,8.8,134,5500,18,23,21485
203,204,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,six,145,idi,23.0,106,4800,26,27,22470
204,205,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,9.5,114,5400,19,25,22625

In [43]:
car_df.iloc[1:5,:]

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
1,2,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,16500
2,3,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,ohcv,six,152,mpfi,9.0,154,5000,19,26,16500
3,4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950
4,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450

In [44]:
# difference between iloc and loc
df1.iloc[0:3,:]
df1.loc['BR':'IN',:]

   Country    Capital    Area  Population
BR  Brazil   Brasilia   8.516       200.4
RU  Russia     Moscow  17.100       143.5
IN   India  New Dehli   3.286      1252.0

   Country    Capital    Area  Population
BR  Brazil   Brasilia   8.516       200.4
RU  Russia     Moscow  17.100       143.5
IN   India  New Dehli   3.286      1252.0

In [45]:
car_df.iloc[10:15,3:5]
car_df.columns
car_df.columns[3:5]

   aspiration num_of_doors
10        std          two
11        std         four
12        std          two
13        std         four
14        std         four

Index(['Unnamed: 0', 'make', 'fuel_type', 'aspiration', 'num_of_doors',
       'body_style', 'drive_wheels', 'engine_location', 'wheel_base', 'length',
       'width', 'height', 'curb_weight', 'engine_type', 'num_of_cylinders',
       'engine_size', 'fuel_system', 'compression_ratio', 'horsepower',
       'peak_rpm', 'city_mpg', 'highway_mpg', 'price'],
      dtype='object')

Index(['aspiration', 'num_of_doors'], dtype='object')

In [46]:
car_df.iloc[:,2:7]

    fuel_type aspiration num_of_doors   body_style drive_wheels
0         gas        std          two  convertible          rwd
1         gas        std          two  convertible          rwd
2         gas        std          two    hatchback          rwd
3         gas        std         four        sedan          fwd
4         gas        std         four        sedan          4wd
..        ...        ...          ...          ...          ...
200       gas        std         four        sedan          rwd
201       gas      turbo         four        sedan          rwd
202       gas        std         four        sedan          rwd
203    diesel      turbo         four        sedan          rwd
204       gas      turbo         four        sedan          rwd

[205 rows x 5 columns]

In [47]:
car_df_bkp = car_df.copy()

In [48]:
car_df_bkp.head()

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,13495
1,2,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,16500
2,3,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,ohcv,six,152,mpfi,9.0,154,5000,19,26,16500
3,4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950
4,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450

In [49]:
car_df_bkp.index = car_df_bkp.make

In [50]:
car_df_bkp.head()
car_df_bkp.index

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
make,,,,,,,,,,,,,,,,,,,,,
alfa-romero,1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,13495
alfa-romero,2,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,16500
alfa-romero,3,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,ohcv,six,152,mpfi,9.0,154,5000,19,26,16500
audi,4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950
audi,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450

Index(['alfa-romero', 'alfa-romero', 'alfa-romero', 'audi', 'audi', 'audi',
       'audi', 'audi', 'audi', 'audi',
       ...
       'volvo', 'volvo', 'volvo', 'volvo', 'volvo', 'volvo', 'volvo', 'volvo',
       'volvo', 'volvo'],
      dtype='object', name='make', length=205)

In [51]:
car_df_bkp.loc['audi',:]

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
make,,,,,,,,,,,,,,,,,,,,,
audi,4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950
audi,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450
audi,6,audi,gas,std,two,sedan,fwd,front,99.8,177.3,...,ohc,five,136,mpfi,8.5,110,5500,19,25,15250
audi,7,audi,gas,std,four,sedan,fwd,front,105.8,192.7,...,ohc,five,136,mpfi,8.5,110,5500,19,25,17710
audi,8,audi,gas,std,four,wagon,fwd,front,105.8,192.7,...,ohc,five,136,mpfi,8.5,110,5500,19,25,18920
audi,9,audi,gas,turbo,four,sedan,fwd,front,105.8,192.7,...,ohc,five,131,mpfi,8.3,140,5500,17,20,23875
audi,10,audi,gas,turbo,two,hatchback,4wd,front,99.5,178.2,...,ohc,five,131,mpfi,7.0,160,5500,16,22,?

In [52]:
car_df.columns

Index(['Unnamed: 0', 'make', 'fuel_type', 'aspiration', 'num_of_doors',
       'body_style', 'drive_wheels', 'engine_location', 'wheel_base', 'length',
       'width', 'height', 'curb_weight', 'engine_type', 'num_of_cylinders',
       'engine_size', 'fuel_system', 'compression_ratio', 'horsepower',
       'peak_rpm', 'city_mpg', 'highway_mpg', 'price'],
      dtype='object')

In [53]:
# extract 7 to 15 rows and mpg cols and price col
car_df[7:15][['city_mpg', 'highway_mpg', 'price']]
car_df[['city_mpg', 'highway_mpg', 'price']][7:15]

car_df.loc[7:14 , 'city_mpg':'price']
car_df.loc[7:14 , ['city_mpg', 'highway_mpg', 'price']]

car_df.iloc[7:15 , 20:23]
car_df.iloc[7:15 , -3:]
car_df.columns[-3:]

    city_mpg  highway_mpg  price
7         19           25  18920
8         17           20  23875
9         16           22      ?
10        23           29  16430
11        23           29  16925
12        21           28  20970
13        21           28  21105
14        20           25  24565

    city_mpg  highway_mpg  price
7         19           25  18920
8         17           20  23875
9         16           22      ?
10        23           29  16430
11        23           29  16925
12        21           28  20970
13        21           28  21105
14        20           25  24565

    city_mpg  highway_mpg  price
7         19           25  18920
8         17           20  23875
9         16           22      ?
10        23           29  16430
11        23           29  16925
12        21           28  20970
13        21           28  21105
14        20           25  24565

    city_mpg  highway_mpg  price
7         19           25  18920
8         17           20  23875
9         16           22      ?
10        23           29  16430
11        23           29  16925
12        21           28  20970
13        21           28  21105
14        20           25  24565

    city_mpg  highway_mpg  price
7         19           25  18920
8         17           20  23875
9         16           22      ?
10        23           29  16430
11        23           29  16925
12        21           28  20970
13        21           28  21105
14        20           25  24565

    city_mpg  highway_mpg  price
7         19           25  18920
8         17           20  23875
9         16           22      ?
10        23           29  16430
11        23           29  16925
12        21           28  20970
13        21           28  21105
14        20           25  24565

Index(['city_mpg', 'highway_mpg', 'price'], dtype='object')

## Filtering the data/Indexing using Masked data

>dfname[dfname['column name'] == some value ] 

>in the place of == 
>we can have any other comparision operator
>For multiple conditions:

>dfname[(condition 1) & (condition 2) ] 

>dfname[(condition 1) | (condition 2)

In [54]:
car_df['fuel_type'].unique()
car_df['fuel_type'].value_counts()
car_df[car_df['fuel_type'] =='diesel']

array(['gas', 'diesel'], dtype=object)

gas       185
diesel     20
Name: fuel_type, dtype: int64

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
63,64,mazda,diesel,std,?,sedan,fwd,front,98.8,177.8,...,ohc,four,122,idi,22.7,64,4650,36,42,10795
66,67,mazda,diesel,std,four,sedan,rwd,front,104.9,175.0,...,ohc,four,134,idi,22.0,72,4200,31,39,18344
67,68,mercedes-benz,diesel,turbo,four,sedan,rwd,front,110.0,190.9,...,ohc,five,183,idi,21.5,123,4350,22,25,25552
68,69,mercedes-benz,diesel,turbo,four,wagon,rwd,front,110.0,190.9,...,ohc,five,183,idi,21.5,123,4350,22,25,28248
69,70,mercedes-benz,diesel,turbo,two,hardtop,rwd,front,106.7,187.5,...,ohc,five,183,idi,21.5,123,4350,22,25,28176
70,71,mercedes-benz,diesel,turbo,four,sedan,rwd,front,115.6,202.6,...,ohc,five,183,idi,21.5,123,4350,22,25,31600
90,91,nissan,diesel,std,two,sedan,fwd,front,94.5,165.3,...,ohc,four,103,idi,21.9,55,4800,45,50,7099
108,109,peugot,diesel,turbo,four,sedan,rwd,front,107.9,186.7,...,l,four,152,idi,21.0,95,4150,28,33,13200
110,111,peugot,diesel,turbo,four,wagon,rwd,front,114.2,198.9,...,l,four,152,idi,21.0,95,4150,25,25,13860
112,113,peugot,diesel,turbo,four,sedan,rwd,front,107.9,186.7,...,l,four,152,idi,21.0,95,4150,28,33,16900
114,115,peugot,diesel,turbo,four,wagon,rwd,front,114.2,198.9,...,l,four,152,idi,21.0,95,4150,25,25,17075
116,117,peugot,diesel,turbo,four,sedan,rwd,front,107.9,186.7,...,l,four,152,idi,21.0,95,4150,28,33,17950
158,159,toyota,diesel,std,four,sedan,fwd,front,95.7,166.3,...,ohc,four,110,idi,22.5,56,4500,34,36,7898
159,160,toyota,diesel,std,four,hatchback,fwd,front,95.7,166.3,...,ohc,four,110,idi,22.5,56,4500,38,47,7788
174,175,toyota,diesel,turbo,four,sedan,fwd,front,102.4,175.6,...,ohc,four,110,idi,22.5,73,4500,30,33,10698
182,183,volkswagen,diesel,std,two,sedan,fwd,front,97.3,171.7,...,ohc,four,97,idi,23.0,52,4800,37,46,7775
184,185,volkswagen,diesel,std,four,sedan,fwd,front,97.3,171.7,...,ohc,four,97,idi,23.0,52,4800,37,46,7995
187,188,volkswagen,diesel,turbo,four,sedan,fwd,front,97.3,171.7,...,ohc,four,97,idi,23.0,68,4500,37,42,9495
192,193,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,180.2,...,ohc,four,97,idi,23.0,68,4500,33,38,13845
203,204,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,six,145,idi,23.0,106,4800,26,27,22470

In [55]:
car_df[(car_df['fuel_type'] == 'diesel') & 
       (car_df['body_style'] == 'sedan') & 
       (car_df['highway_mpg'] >= 40)]

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
63,64,mazda,diesel,std,?,sedan,fwd,front,98.8,177.8,...,ohc,four,122,idi,22.7,64,4650,36,42,10795
90,91,nissan,diesel,std,two,sedan,fwd,front,94.5,165.3,...,ohc,four,103,idi,21.9,55,4800,45,50,7099
182,183,volkswagen,diesel,std,two,sedan,fwd,front,97.3,171.7,...,ohc,four,97,idi,23.0,52,4800,37,46,7775
184,185,volkswagen,diesel,std,four,sedan,fwd,front,97.3,171.7,...,ohc,four,97,idi,23.0,52,4800,37,46,7995
187,188,volkswagen,diesel,turbo,four,sedan,fwd,front,97.3,171.7,...,ohc,four,97,idi,23.0,68,4500,37,42,9495

In [56]:
# extract audi and bmw cars 
car_df.make.unique()
car_df.make.value_counts()

car_df[(car_df.make == 'audi')|(car_df.make == 'bmw')]

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: make, dtype: int64

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
3,4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950
4,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450
5,6,audi,gas,std,two,sedan,fwd,front,99.8,177.3,...,ohc,five,136,mpfi,8.5,110,5500,19,25,15250
6,7,audi,gas,std,four,sedan,fwd,front,105.8,192.7,...,ohc,five,136,mpfi,8.5,110,5500,19,25,17710
7,8,audi,gas,std,four,wagon,fwd,front,105.8,192.7,...,ohc,five,136,mpfi,8.5,110,5500,19,25,18920
8,9,audi,gas,turbo,four,sedan,fwd,front,105.8,192.7,...,ohc,five,131,mpfi,8.3,140,5500,17,20,23875
9,10,audi,gas,turbo,two,hatchback,4wd,front,99.5,178.2,...,ohc,five,131,mpfi,7.0,160,5500,16,22,?
10,11,bmw,gas,std,two,sedan,rwd,front,101.2,176.8,...,ohc,four,108,mpfi,8.8,101,5800,23,29,16430
11,12,bmw,gas,std,four,sedan,rwd,front,101.2,176.8,...,ohc,four,108,mpfi,8.8,101,5800,23,29,16925
12,13,bmw,gas,std,two,sedan,rwd,front,101.2,176.8,...,ohc,six,164,mpfi,9.0,121,4250,21,28,20970
13,14,bmw,gas,std,four,sedan,rwd,front,101.2,176.8,...,ohc,six,164,mpfi,9.0,121,4250,21,28,21105
14,15,bmw,gas,std,four,sedan,rwd,front,103.5,189.0,...,ohc,six,164,mpfi,9.0,121,4250,20,25,24565
15,16,bmw,gas,std,four,sedan,rwd,front,103.5,189.0,...,ohc,six,209,mpfi,8.0,182,5400,16,22,30760
16,17,bmw,gas,std,two,sedan,rwd,front,103.5,193.8,...,ohc,six,209,mpfi,8.0,182,5400,16,22,41315
17,18,bmw,gas,std,four,sedan,rwd,front,110.0,197.0,...,ohc,six,209,mpfi,8.0,182,5400,15,20,36880

In [57]:
(car_df.make =='audi').head(15)
(car_df.make == 'audi').value_counts()
car_df[(car_df.make=='audi')]
car_df[3:10]

0     False
1     False
2     False
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10    False
11    False
12    False
13    False
14    False
Name: make, dtype: bool

False    198
True       7
Name: make, dtype: int64

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
3,4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950
4,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450
5,6,audi,gas,std,two,sedan,fwd,front,99.8,177.3,...,ohc,five,136,mpfi,8.5,110,5500,19,25,15250
6,7,audi,gas,std,four,sedan,fwd,front,105.8,192.7,...,ohc,five,136,mpfi,8.5,110,5500,19,25,17710
7,8,audi,gas,std,four,wagon,fwd,front,105.8,192.7,...,ohc,five,136,mpfi,8.5,110,5500,19,25,18920
8,9,audi,gas,turbo,four,sedan,fwd,front,105.8,192.7,...,ohc,five,131,mpfi,8.3,140,5500,17,20,23875
9,10,audi,gas,turbo,two,hatchback,4wd,front,99.5,178.2,...,ohc,five,131,mpfi,7.0,160,5500,16,22,?

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
3,4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950
4,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450
5,6,audi,gas,std,two,sedan,fwd,front,99.8,177.3,...,ohc,five,136,mpfi,8.5,110,5500,19,25,15250
6,7,audi,gas,std,four,sedan,fwd,front,105.8,192.7,...,ohc,five,136,mpfi,8.5,110,5500,19,25,17710
7,8,audi,gas,std,four,wagon,fwd,front,105.8,192.7,...,ohc,five,136,mpfi,8.5,110,5500,19,25,18920
8,9,audi,gas,turbo,four,sedan,fwd,front,105.8,192.7,...,ohc,five,131,mpfi,8.3,140,5500,17,20,23875
9,10,audi,gas,turbo,two,hatchback,4wd,front,99.5,178.2,...,ohc,five,131,mpfi,7.0,160,5500,16,22,?

## To-Do

In [58]:
# filter rows with wheel base more than 115

# filter the the turbo cars with 5 cylinders

# filter the cars manufactured by Benz or Jaguar

# filter the cars with two or four doors and sedan or hatchback 
#  and wheel base more than 85 and with four or five cylinders

In [59]:
car_df[car_df['wheel_base']>115]

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
70,71,mercedes-benz,diesel,turbo,four,sedan,rwd,front,115.6,202.6,...,ohc,five,183,idi,21.5,123,4350,22,25,31600
71,72,mercedes-benz,gas,std,four,sedan,rwd,front,115.6,202.6,...,ohcv,eight,234,mpfi,8.3,155,4750,16,18,34184
73,74,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,208.1,...,ohcv,eight,308,mpfi,8.0,184,4500,14,16,40960

In [60]:
car_df[(car_df['aspiration'] == 'turbo') &(car_df['num_of_cylinders']=='five')]

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
8,9,audi,gas,turbo,four,sedan,fwd,front,105.8,192.7,...,ohc,five,131,mpfi,8.3,140,5500,17,20,23875
9,10,audi,gas,turbo,two,hatchback,4wd,front,99.5,178.2,...,ohc,five,131,mpfi,7.0,160,5500,16,22,?
67,68,mercedes-benz,diesel,turbo,four,sedan,rwd,front,110.0,190.9,...,ohc,five,183,idi,21.5,123,4350,22,25,25552
68,69,mercedes-benz,diesel,turbo,four,wagon,rwd,front,110.0,190.9,...,ohc,five,183,idi,21.5,123,4350,22,25,28248
69,70,mercedes-benz,diesel,turbo,two,hardtop,rwd,front,106.7,187.5,...,ohc,five,183,idi,21.5,123,4350,22,25,28176
70,71,mercedes-benz,diesel,turbo,four,sedan,rwd,front,115.6,202.6,...,ohc,five,183,idi,21.5,123,4350,22,25,31600

In [61]:
car_df[(car_df['make'] == 'mercedes-benz')|(car_df['make']=='jaguar')]

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
47,48,jaguar,gas,std,four,sedan,rwd,front,113.0,199.6,...,dohc,six,258,mpfi,8.1,176,4750,15,19,32250
48,49,jaguar,gas,std,four,sedan,rwd,front,113.0,199.6,...,dohc,six,258,mpfi,8.1,176,4750,15,19,35550
49,50,jaguar,gas,std,two,sedan,rwd,front,102.0,191.7,...,ohcv,twelve,326,mpfi,11.5,262,5000,13,17,36000
67,68,mercedes-benz,diesel,turbo,four,sedan,rwd,front,110.0,190.9,...,ohc,five,183,idi,21.5,123,4350,22,25,25552
68,69,mercedes-benz,diesel,turbo,four,wagon,rwd,front,110.0,190.9,...,ohc,five,183,idi,21.5,123,4350,22,25,28248
69,70,mercedes-benz,diesel,turbo,two,hardtop,rwd,front,106.7,187.5,...,ohc,five,183,idi,21.5,123,4350,22,25,28176
70,71,mercedes-benz,diesel,turbo,four,sedan,rwd,front,115.6,202.6,...,ohc,five,183,idi,21.5,123,4350,22,25,31600
71,72,mercedes-benz,gas,std,four,sedan,rwd,front,115.6,202.6,...,ohcv,eight,234,mpfi,8.3,155,4750,16,18,34184
72,73,mercedes-benz,gas,std,two,convertible,rwd,front,96.6,180.3,...,ohcv,eight,234,mpfi,8.3,155,4750,16,18,35056
73,74,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,208.1,...,ohcv,eight,308,mpfi,8.0,184,4500,14,16,40960
74,75,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,199.2,...,ohcv,eight,304,mpfi,8.0,184,4500,14,16,45400

In [62]:
car_df[(car_df['num_of_doors']=='two')|(car_df['num_of_doors']=='four')]

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,13495
1,2,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,16500
2,3,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,ohcv,six,152,mpfi,9.0,154,5000,19,26,16500
3,4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950
4,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,9.5,114,5400,23,28,16845
201,202,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,8.7,160,5300,19,25,19045
202,203,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,ohcv,six,173,mpfi,8.8,134,5500,18,23,21485
203,204,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,six,145,idi,23.0,106,4800,26,27,22470
204,205,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,9.5,114,5400,19,25,22625

In [63]:
car_df[car_df['wheel_base']>85]

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,13495
1,2,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,16500
2,3,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,ohcv,six,152,mpfi,9.0,154,5000,19,26,16500
3,4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950
4,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,9.5,114,5400,23,28,16845
201,202,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,8.7,160,5300,19,25,19045
202,203,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,ohcv,six,173,mpfi,8.8,134,5500,18,23,21485
203,204,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,six,145,idi,23.0,106,4800,26,27,22470
204,205,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,9.5,114,5400,19,25,22625

In [64]:
car_df[(car_df['num_of_cylinders']=='four')|(car_df['num_of_cylinders']=='five')]

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,13495
1,2,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,16500
3,4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950
4,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450
5,6,audi,gas,std,two,sedan,fwd,front,99.8,177.3,...,ohc,five,136,mpfi,8.5,110,5500,19,25,15250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,199,volvo,gas,turbo,four,sedan,rwd,front,104.3,188.8,...,ohc,four,130,mpfi,7.5,162,5100,17,22,18420
199,200,volvo,gas,turbo,four,wagon,rwd,front,104.3,188.8,...,ohc,four,130,mpfi,7.5,162,5100,17,22,18950
200,201,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,9.5,114,5400,23,28,16845
201,202,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,8.7,160,5300,19,25,19045
204,205,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,9.5,114,5400,19,25,22625

In [65]:
car_df[car_df['wheel_base']>115]

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
70,71,mercedes-benz,diesel,turbo,four,sedan,rwd,front,115.6,202.6,...,ohc,five,183,idi,21.5,123,4350,22,25,31600
71,72,mercedes-benz,gas,std,four,sedan,rwd,front,115.6,202.6,...,ohcv,eight,234,mpfi,8.3,155,4750,16,18,34184
73,74,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,208.1,...,ohcv,eight,308,mpfi,8.0,184,4500,14,16,40960

In [66]:
car_df[((car_df.num_of_doors =='two')|(car_df.num_of_doors =='four'))
      & ((car_df.body_style == 'sedan')|(car_df.body_style=='hatchback'))
      & (car_df.wheel_base > 85)
      &((car_df.num_of_cylinders == 'four')|(car_df.num_of_cylinders == 'five'))]

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
3,4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950
4,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450
5,6,audi,gas,std,two,sedan,fwd,front,99.8,177.3,...,ohc,five,136,mpfi,8.5,110,5500,19,25,15250
6,7,audi,gas,std,four,sedan,fwd,front,105.8,192.7,...,ohc,five,136,mpfi,8.5,110,5500,19,25,17710
8,9,audi,gas,turbo,four,sedan,fwd,front,105.8,192.7,...,ohc,five,131,mpfi,8.3,140,5500,17,20,23875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,197,volvo,gas,std,four,sedan,rwd,front,104.3,188.8,...,ohc,four,141,mpfi,9.5,114,5400,24,28,15985
198,199,volvo,gas,turbo,four,sedan,rwd,front,104.3,188.8,...,ohc,four,130,mpfi,7.5,162,5100,17,22,18420
200,201,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,9.5,114,5400,23,28,16845
201,202,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,8.7,160,5300,19,25,19045
204,205,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,9.5,114,5400,19,25,22625

In [67]:
car_df[car_df.body_style =='wagon']['num_of_cylinders'].unique()

array(['five', 'four', 'six'], dtype=object)

In [68]:
# how many 4 cylinders wagon vehicles?
car_df[car_df.body_style=='wagon']['num_of_cylinders'].value_counts()
len(car_df[(car_df.body_style=='wagon') &(car_df.num_of_cylinders=='four')])

four    21
five     2
six      2
Name: num_of_cylinders, dtype: int64

21

### Data Frame operations
**Renaming column(s)**

In [69]:
# basic approach

# dfname.columns = list of new column names
# Note: len of the list on RHS, should match the number columns on LHS

# car_df.head()

In [70]:
car_df.columns = ['Car_id', 'make', 'fuel_type', 'aspiration', 'num_of_doors',
       'body_style', 'drive_wheels', 'engine_location', 'wheel_base', 'length',
       'width', 'height', 'curb_weight', 'engine_type', 'num_of_cylinders',
       'engine_size', 'fuel_system', 'compression_ratio', 'horsepower',
       'peak_rpm', 'city_mpg', 'highway_mpg', 'price']

In [71]:
car_df.head()

,Car_id,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,13495
1,2,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,16500
2,3,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,ohcv,six,152,mpfi,9.0,154,5000,19,26,16500
3,4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950
4,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450

In [72]:
# car_df.rename(columns={'Car_id' : 'Car_ID'}) #only to preview te changes

# to apply changes
# car_df = car_df.rename(columns={'Car_id' : 'Car_ID'}) # option 1

car_df.rename(columns={'Car_id' : 'Car_ID'},inplace=True)

In [73]:
car_df.head()

,Car_ID,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,13495
1,2,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,16500
2,3,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,ohcv,six,152,mpfi,9.0,154,5000,19,26,16500
3,4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950
4,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450

## Drop rows/columns

In [74]:
car_df_bkp = car_df.copy()

In [75]:
# Drop the columns 
# car_df_bkp.drop(['Car_ID'],axis = 1) # axis : {0 or 'index'/'rows',1,or,columns}

# two options to apply the changes
# # car_df_bkp = car_df_bkp.drop(['Car_ID'], axis=1)
# car_df_bkp.drop(['Car_ID'], axis=1, inplace=True) # drop one column

# drop nultiple columns

drop_list = ['peak_rpm', 'engine_location','Car_ID']
car_df_bkp.drop(drop_list,axis=1,inplace=True)

In [76]:
car_df_bkp.shape

(205, 20)

In [77]:
# drop the rows
drop_list = range(1,15,2)
car_df_bkp.drop(drop_list,axis=0, inplace=True)

In [78]:
car_df_bkp.head(20)

,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,wheel_base,length,width,height,curb_weight,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,city_mpg,highway_mpg,price
0,alfa-romero,gas,std,two,convertible,rwd,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,9.00,111,21,27,13495
2,alfa-romero,gas,std,two,hatchback,rwd,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,9.00,154,19,26,16500
4,audi,gas,std,four,sedan,4wd,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,8.00,115,18,22,17450
6,audi,gas,std,four,sedan,fwd,105.8,192.7,71.4,55.7,2844,ohc,five,136,mpfi,8.50,110,19,25,17710
8,audi,gas,turbo,four,sedan,fwd,105.8,192.7,71.4,55.9,3086,ohc,five,131,mpfi,8.30,140,17,20,23875
10,bmw,gas,std,two,sedan,rwd,101.2,176.8,64.8,54.3,2395,ohc,four,108,mpfi,8.80,101,23,29,16430
12,bmw,gas,std,two,sedan,rwd,101.2,176.8,64.8,54.3,2710,ohc,six,164,mpfi,9.00,121,21,28,20970
14,bmw,gas,std,four,sedan,rwd,103.5,189.0,66.9,55.7,3055,ohc,six,164,mpfi,9.00,121,20,25,24565
15,bmw,gas,std,four,sedan,rwd,103.5,189.0,66.9,55.7,3230,ohc,six,209,mpfi,8.00,182,16,22,30760
16,bmw,gas,std,two,sedan,rwd,103.5,193.8,67.9,53.7,3380,ohc,six,209,mpfi,8.00,182,16,22,41315
17,bmw,gas,std,four,sedan,rwd,110.0,197.0,70.9,56.3,3505,ohc,six,209,mpfi,8.00,182,15,20,36880
18,chevrolet,gas,std,two,hatchback,fwd,88.4,141.1,60.3,53.2,1488,l,three,61,2bbl,9.50,48,47,53,5151
19,chevrolet,gas,std,two,hatchback,fwd,94.5,155.9,63.6,52.0,1874,ohc,four,90,2bbl,9.60,70,38,43,6295
20,chevrolet,gas,std,four,sedan,fwd,94.5,158.8,63.6,52.0,1909,ohc,four,90,2bbl,9.60,70,38,43,6575
21,dodge,gas,std,two,hatchback,fwd,93.7,157.3,63.8,50.8,1876,ohc,four,90,2bbl,9.41,68,37,41,5572
22,dodge,gas,std,two,hatchback,fwd,93.7,157.3,63.8,50.8,1876,ohc,four,90,2bbl,9.40,68,31,38,6377
23,dodge,gas,turbo,two,hatchback,fwd,93.7,157.3,63.8,50.8,2128,ohc,four,98,mpfi,7.60,102,24,30,7957
24,dodge,gas,std,four,hatchback,fwd,93.7,157.3,63.8,50.6,1967,ohc,four,90,2bbl,9.40,68,31,38,6229
25,dodge,gas,std,four,sedan,fwd,93.7,157.3,63.8,50.6,1989,ohc,four,90,2bbl,9.40,68,31,38,6692
26,dodge,gas,std,four,sedan,fwd,93.7,157.3,63.8,50.6,1989,ohc,four,90,2bbl,9.40,68,31,38,7609

## Sorting the data in a Data Frame

In [79]:
# car_df.sort_values(by = 'highway_mpg') # ascending order by default

car_df.sort_values(by='highway_mpg',ascending=False)
#car_df.sort_values(by = 'highway_mpg',ascending = False )

,Car_ID,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
30,31,honda,gas,std,two,hatchback,fwd,front,86.6,144.6,...,ohc,four,92,1bbl,9.6,58,4800,49,54,6479
18,19,chevrolet,gas,std,two,hatchback,fwd,front,88.4,141.1,...,l,three,61,2bbl,9.5,48,5100,47,53,5151
90,91,nissan,diesel,std,two,sedan,fwd,front,94.5,165.3,...,ohc,four,103,idi,21.9,55,4800,45,50,7099
160,161,toyota,gas,std,four,sedan,fwd,front,95.7,166.3,...,ohc,four,98,2bbl,9.0,70,4800,38,47,7738
159,160,toyota,diesel,std,four,hatchback,fwd,front,95.7,166.3,...,ohc,four,110,idi,22.5,56,4500,38,47,7788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,73,mercedes-benz,gas,std,two,convertible,rwd,front,96.6,180.3,...,ohcv,eight,234,mpfi,8.3,155,4750,16,18,35056
71,72,mercedes-benz,gas,std,four,sedan,rwd,front,115.6,202.6,...,ohcv,eight,234,mpfi,8.3,155,4750,16,18,34184
49,50,jaguar,gas,std,two,sedan,rwd,front,102.0,191.7,...,ohcv,twelve,326,mpfi,11.5,262,5000,13,17,36000
73,74,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,208.1,...,ohcv,eight,308,mpfi,8.0,184,4500,14,16,40960
74,75,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,199.2,...,ohcv,eight,304,mpfi,8.0,184,4500,14,16,45400

In [80]:
#sorting by multiple columns
car_df.sort_values(by=['body_style', 'highway_mpg'],ascending = False)[['Car_ID','make','body_style','highway_mpg']].head(30)
#car_df.sort_values(by = [ 'body_style', 'highway_mpg'],ascending = False )[['Car_ID', 'make','body_style', 'highway_mpg']].head(30)

     Car_ID           make body_style  highway_mpg
93       94         nissan      wagon           37
97       98         nissan      wagon           37
153     154         toyota      wagon           37
36       37          honda      wagon           34
146     147         subaru      wagon           32
154     155         toyota      wagon           32
155     156         toyota      wagon           32
130     131        renault      wagon           31
147     148         subaru      wagon           31
193     194     volkswagen      wagon           31
28       29          dodge      wagon           30
123     124       plymouth      wagon           30
148     149         subaru      wagon           29
195     196          volvo      wagon           28
197     198          volvo      wagon           28
7         8           audi      wagon           25
68       69  mercedes-benz      wagon           25
110     111         peugot      wagon           25
114     115         peugot      wagon           25
109     110         peugot      wagon           24
113     114         peugot      wagon           24
181     182         toyota      wagon           24
149     150         subaru      wagon           23
102     103         nissan      wagon           22
199     200          volvo      wagon           22
90       91         nissan      sedan           50
160     161         toyota      sedan           47
182     183     volkswagen      sedan           46
184     185     volkswagen      sedan           46
20       21      chevrolet      sedan           43

## Reset the index

In [81]:
cardf1 = car_df.sort_values(by='make',ascending=False)

In [82]:
cardf1.reset_index(inplace=True)

In [83]:
cardf1.head()

,index,Car_ID,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,204,205,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,ohc,four,141,mpfi,9.5,114,5400,19,25,22625
1,199,200,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,ohc,four,130,mpfi,7.5,162,5100,17,22,18950
2,194,195,volvo,gas,std,four,sedan,rwd,front,104.3,...,ohc,four,141,mpfi,9.5,114,5400,23,28,12940
3,195,196,volvo,gas,std,four,wagon,rwd,front,104.3,...,ohc,four,141,mpfi,9.5,114,5400,23,28,13415
4,196,197,volvo,gas,std,four,sedan,rwd,front,104.3,...,ohc,four,141,mpfi,9.5,114,5400,24,28,15985

## Using string methods on Pandas DF

In [84]:
# get the list of string methods
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [85]:
car_df.head()

,Car_ID,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,13495
1,2,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,16500
2,3,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,ohcv,six,152,mpfi,9.0,154,5000,19,26,16500
3,4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950
4,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450

In [86]:
str1 = 'PYTHON'
str1.replace('P','p')

'pYTHON'

In [87]:
# using string method on a DF
car_df['make'].str.upper()

0      ALFA-ROMERO
1      ALFA-ROMERO
2      ALFA-ROMERO
3             AUDI
4             AUDI
          ...
200          VOLVO
201          VOLVO
202          VOLVO
203          VOLVO
204          VOLVO
Name: make, Length: 205, dtype: object

In [88]:
k = []
for x in car_df['make']:
    k.append(x.upper())

In [89]:
pd.Series(k)

0      ALFA-ROMERO
1      ALFA-ROMERO
2      ALFA-ROMERO
3             AUDI
4             AUDI
          ...
200          VOLVO
201          VOLVO
202          VOLVO
203          VOLVO
204          VOLVO
Length: 205, dtype: object

In [90]:
car_df.make.str.replace('alfa-romero','ALFA-ROMERO')

0      ALFA-ROMERO
1      ALFA-ROMERO
2      ALFA-ROMERO
3             audi
4             audi
          ...
200          volvo
201          volvo
202          volvo
203          volvo
204          volvo
Name: make, Length: 205, dtype: object

In [91]:
car_df.price.str.isnumeric()
car_df.price.str.isnumeric().value_counts()

0      True
1      True
2      True
3      True
4      True
       ...
200    True
201    True
202    True
203    True
204    True
Name: price, Length: 205, dtype: bool

True     201
False      4
Name: price, dtype: int64

In [92]:
car_df[~car_df.price.str.isnumeric()]

,Car_ID,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
9,10,audi,gas,turbo,two,hatchback,4wd,front,99.5,178.2,...,ohc,five,131,mpfi,7.0,160,5500,16,22,?
44,45,isuzu,gas,std,two,sedan,fwd,front,94.5,155.9,...,ohc,four,90,2bbl,9.6,70,5400,38,43,?
45,46,isuzu,gas,std,four,sedan,fwd,front,94.5,155.9,...,ohc,four,90,2bbl,9.6,70,5400,38,43,?
129,130,porsche,gas,std,two,hatchback,rwd,front,98.4,175.7,...,dohcv,eight,203,mpfi,10.0,288,5750,17,28,?

In [93]:
car_df.price.str.contains('?',regex=False)
car_df.price.str.contains('\?')

car_df[car_df.price.str.contains("?",regex=False)]

0      False
1      False
2      False
3      False
4      False
       ...
200    False
201    False
202    False
203    False
204    False
Name: price, Length: 205, dtype: bool

0      False
1      False
2      False
3      False
4      False
       ...
200    False
201    False
202    False
203    False
204    False
Name: price, Length: 205, dtype: bool

,Car_ID,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
9,10,audi,gas,turbo,two,hatchback,4wd,front,99.5,178.2,...,ohc,five,131,mpfi,7.0,160,5500,16,22,?
44,45,isuzu,gas,std,two,sedan,fwd,front,94.5,155.9,...,ohc,four,90,2bbl,9.6,70,5400,38,43,?
45,46,isuzu,gas,std,four,sedan,fwd,front,94.5,155.9,...,ohc,four,90,2bbl,9.6,70,5400,38,43,?
129,130,porsche,gas,std,two,hatchback,rwd,front,98.4,175.7,...,dohcv,eight,203,mpfi,10.0,288,5750,17,28,?

In [94]:
car_df.price.str.replace('\?','0')# nly priview of changes 

# apply the changes

car_df['price'] = car_df.price.str.replace('\?','0')

<ipython-input-94-2636072f0d8c>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  car_df.price.str.replace('\?','0')# nly priview of changes

0      13495
1      16500
2      16500
3      13950
4      17450
       ...
200    16845
201    19045
202    21485
203    22470
204    22625
Name: price, Length: 205, dtype: object

<ipython-input-94-2636072f0d8c>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  car_df['price'] = car_df.price.str.replace('\?','0')

In [95]:
(car_df.price.str.isnumeric()).value_counts()

True    205
Name: price, dtype: int64

## Type castnig in Pandas DF

In [96]:
car_df.info()

#price is still a non numeric column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Car_ID             205 non-null    int64
 1   make               205 non-null    object
 2   fuel_type          205 non-null    object
 3   aspiration         205 non-null    object
 4   num_of_doors       205 non-null    object
 5   body_style         205 non-null    object
 6   drive_wheels       205 non-null    object
 7   engine_location    205 non-null    object
 8   wheel_base         205 non-null    float64
 9   length             205 non-null    float64
 10  width              205 non-null    float64
 11  height             205 non-null    float64
 12  curb_weight        205 non-null    int64
 13  engine_type        205 non-null    object
 14  num_of_cylinders   205 non-null    object
 15  engine_size        205 non-null    int64
 16  fuel_system        205 non-null    object
 17  compression_ratio  205 non-null    float64
 18  horsepower         205 non-null    object
 19  peak_rpm           205 non-null    object
 20  city_mpg           205 non-null    int64
 21  highway_mpg        205 non-null    int64
 22  price              205 non-null    object
dtypes: float64(5), int64(5), object(13)
memory usage: 37.0+ KB

In [97]:
import numpy as np

In [98]:
# convert price column to int/float
car_df.price.astype(float)
car_df['price'].astype(np.float32)

#apply the change
car_df['price'] = car_df['price'].astype(np.float32)
#car_df['price'] = car_df['price'].astype(np.float32)

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float32

In [99]:
#car_df_bkp.price.astype(float)

In [100]:
car_df_bkp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 198 entries, 0 to 204
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               198 non-null    object
 1   fuel_type          198 non-null    object
 2   aspiration         198 non-null    object
 3   num_of_doors       198 non-null    object
 4   body_style         198 non-null    object
 5   drive_wheels       198 non-null    object
 6   wheel_base         198 non-null    float64
 7   length             198 non-null    float64
 8   width              198 non-null    float64
 9   height             198 non-null    float64
 10  curb_weight        198 non-null    int64
 11  engine_type        198 non-null    object
 12  num_of_cylinders   198 non-null    object
 13  engine_size        198 non-null    int64
 14  fuel_system        198 non-null    object
 15  compression_ratio  198 non-null    float64
 16  horsepower         198 non-null    object
 17  city_mpg           198 non-null    int64
 18  highway_mpg        198 non-null    int64
 19  price              198 non-null    object
dtypes: float64(5), int64(4), object(11)
memory usage: 32.5+ KB

### Few more string methods

In [101]:
# rows where mfg. name starging with "v"

car_df['make'].str.startswith('v')
car_df['make'].str.lower()
car_df[car_df['make'].str.lower().str.startswith('v')]

0      False
1      False
2      False
3      False
4      False
       ...
200     True
201     True
202     True
203     True
204     True
Name: make, Length: 205, dtype: bool

0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
          ...
200          volvo
201          volvo
202          volvo
203          volvo
204          volvo
Name: make, Length: 205, dtype: object

,Car_ID,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
182,183,volkswagen,diesel,std,two,sedan,fwd,front,97.3,171.7,...,ohc,four,97,idi,23.0,52,4800,37,46,7775.0
183,184,volkswagen,gas,std,two,sedan,fwd,front,97.3,171.7,...,ohc,four,109,mpfi,9.0,85,5250,27,34,7975.0
184,185,volkswagen,diesel,std,four,sedan,fwd,front,97.3,171.7,...,ohc,four,97,idi,23.0,52,4800,37,46,7995.0
185,186,volkswagen,gas,std,four,sedan,fwd,front,97.3,171.7,...,ohc,four,109,mpfi,9.0,85,5250,27,34,8195.0
186,187,volkswagen,gas,std,four,sedan,fwd,front,97.3,171.7,...,ohc,four,109,mpfi,9.0,85,5250,27,34,8495.0
187,188,volkswagen,diesel,turbo,four,sedan,fwd,front,97.3,171.7,...,ohc,four,97,idi,23.0,68,4500,37,42,9495.0
188,189,volkswagen,gas,std,four,sedan,fwd,front,97.3,171.7,...,ohc,four,109,mpfi,10.0,100,5500,26,32,9995.0
189,190,volkswagen,gas,std,two,convertible,fwd,front,94.5,159.3,...,ohc,four,109,mpfi,8.5,90,5500,24,29,11595.0
190,191,volkswagen,gas,std,two,hatchback,fwd,front,94.5,165.7,...,ohc,four,109,mpfi,8.5,90,5500,24,29,9980.0
191,192,volkswagen,gas,std,four,sedan,fwd,front,100.4,180.2,...,ohc,five,136,mpfi,8.5,110,5500,19,24,13295.0
192,193,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,180.2,...,ohc,four,97,idi,23.0,68,4500,33,38,13845.0
193,194,volkswagen,gas,std,four,wagon,fwd,front,100.4,183.1,...,ohc,four,109,mpfi,9.0,88,5500,25,31,12290.0
194,195,volvo,gas,std,four,sedan,rwd,front,104.3,188.8,...,ohc,four,141,mpfi,9.5,114,5400,23,28,12940.0
195,196,volvo,gas,std,four,wagon,rwd,front,104.3,188.8,...,ohc,four,141,mpfi,9.5,114,5400,23,28,13415.0
196,197,volvo,gas,std,four,sedan,rwd,front,104.3,188.8,...,ohc,four,141,mpfi,9.5,114,5400,24,28,15985.0
197,198,volvo,gas,std,four,wagon,rwd,front,104.3,188.8,...,ohc,four,141,mpfi,9.5,114,5400,24,28,16515.0
198,199,volvo,gas,turbo,four,sedan,rwd,front,104.3,188.8,...,ohc,four,130,mpfi,7.5,162,5100,17,22,18420.0
199,200,volvo,gas,turbo,four,wagon,rwd,front,104.3,188.8,...,ohc,four,130,mpfi,7.5,162,5100,17,22,18950.0
200,201,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,9.5,114,5400,23,28,16845.0
201,202,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,8.7,160,5300,19,25,19045.0
202,203,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,ohcv,six,173,mpfi,8.8,134,5500,18,23,21485.0
203,204,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,six,145,idi,23.0,106,4800,26,27,22470.0
204,205,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,9.5,114,5400,19,25,22625.0

### String based indexing on Pandas Series/colum

In [102]:
car_df['make'].str

In [103]:
car_df['make'].str[0]#first char form the take column
#first3 char from make column
car_df['make'].str[0:3]
car_df['make'].str[-1]

0      a
1      a
2      a
3      a
4      a
      ..
200    v
201    v
202    v
203    v
204    v
Name: make, Length: 205, dtype: object

0      alf
1      alf
2      alf
3      aud
4      aud
      ...
200    vol
201    vol
202    vol
203    vol
204    vol
Name: make, Length: 205, dtype: object

0      o
1      o
2      o
3      i
4      i
      ..
200    o
201    o
202    o
203    o
204    o
Name: make, Length: 205, dtype: object

In [104]:
car_df['make'].str[0]=='v'
car_df[car_df['make'].str[0]=='v']

0      False
1      False
2      False
3      False
4      False
       ...
200     True
201     True
202     True
203     True
204     True
Name: make, Length: 205, dtype: bool

,Car_ID,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
182,183,volkswagen,diesel,std,two,sedan,fwd,front,97.3,171.7,...,ohc,four,97,idi,23.0,52,4800,37,46,7775.0
183,184,volkswagen,gas,std,two,sedan,fwd,front,97.3,171.7,...,ohc,four,109,mpfi,9.0,85,5250,27,34,7975.0
184,185,volkswagen,diesel,std,four,sedan,fwd,front,97.3,171.7,...,ohc,four,97,idi,23.0,52,4800,37,46,7995.0
185,186,volkswagen,gas,std,four,sedan,fwd,front,97.3,171.7,...,ohc,four,109,mpfi,9.0,85,5250,27,34,8195.0
186,187,volkswagen,gas,std,four,sedan,fwd,front,97.3,171.7,...,ohc,four,109,mpfi,9.0,85,5250,27,34,8495.0
187,188,volkswagen,diesel,turbo,four,sedan,fwd,front,97.3,171.7,...,ohc,four,97,idi,23.0,68,4500,37,42,9495.0
188,189,volkswagen,gas,std,four,sedan,fwd,front,97.3,171.7,...,ohc,four,109,mpfi,10.0,100,5500,26,32,9995.0
189,190,volkswagen,gas,std,two,convertible,fwd,front,94.5,159.3,...,ohc,four,109,mpfi,8.5,90,5500,24,29,11595.0
190,191,volkswagen,gas,std,two,hatchback,fwd,front,94.5,165.7,...,ohc,four,109,mpfi,8.5,90,5500,24,29,9980.0
191,192,volkswagen,gas,std,four,sedan,fwd,front,100.4,180.2,...,ohc,five,136,mpfi,8.5,110,5500,19,24,13295.0
192,193,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,180.2,...,ohc,four,97,idi,23.0,68,4500,33,38,13845.0
193,194,volkswagen,gas,std,four,wagon,fwd,front,100.4,183.1,...,ohc,four,109,mpfi,9.0,88,5500,25,31,12290.0
194,195,volvo,gas,std,four,sedan,rwd,front,104.3,188.8,...,ohc,four,141,mpfi,9.5,114,5400,23,28,12940.0
195,196,volvo,gas,std,four,wagon,rwd,front,104.3,188.8,...,ohc,four,141,mpfi,9.5,114,5400,23,28,13415.0
196,197,volvo,gas,std,four,sedan,rwd,front,104.3,188.8,...,ohc,four,141,mpfi,9.5,114,5400,24,28,15985.0
197,198,volvo,gas,std,four,wagon,rwd,front,104.3,188.8,...,ohc,four,141,mpfi,9.5,114,5400,24,28,16515.0
198,199,volvo,gas,turbo,four,sedan,rwd,front,104.3,188.8,...,ohc,four,130,mpfi,7.5,162,5100,17,22,18420.0
199,200,volvo,gas,turbo,four,wagon,rwd,front,104.3,188.8,...,ohc,four,130,mpfi,7.5,162,5100,17,22,18950.0
200,201,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,9.5,114,5400,23,28,16845.0
201,202,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,8.7,160,5300,19,25,19045.0
202,203,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,ohcv,six,173,mpfi,8.8,134,5500,18,23,21485.0
203,204,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,six,145,idi,23.0,106,4800,26,27,22470.0
204,205,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,ohc,four,141,mpfi,9.5,114,5400,19,25,22625.0

In [105]:
country = ['Brazil',"Russia","India","China","South Africa"]

In [106]:
#  str.join

"".join(country)
" ".join(country)
",".join(country)
" ".join(country).split()

'BrazilRussiaIndiaChinaSouth Africa'

'Brazil Russia India China South Africa'

'Brazil,Russia,India,China,South Africa'

['Brazil', 'Russia', 'India', 'China', 'South', 'Africa']

## split the list column of your DF into multiple columns

In [107]:
country = {"Country" : [["Brazil", "Russia", "India", "China", "South Africa"]]}

In [108]:
pd.DataFrame(country)# split the below output into 5 columns

                                        Country
0  [Brazil, Russia, India, China, South Africa]

In [109]:
df1 = pd.DataFrame(country)

In [110]:
df1

                                        Country
0  [Brazil, Russia, India, China, South Africa]

In [111]:
pd.DataFrame(df1.Country.to_list()) # split the list column of your DF into multiple columns
pd.DataFrame(country['Country'])# split your dictionary values into multiple columns

        0       1      2      3             4
0  Brazil  Russia  India  China  South Africa

        0       1      2      3             4
0  Brazil  Russia  India  China  South Africa

### Pandas Timeseries
A series of dates can be generated in pandas using pd.date_range.

In [112]:
df = pd.DataFrame({'year':[2021,2022],'month':[2,3],'day':[4,5]})

In [113]:
df

   year  month  day
0  2021      2    4
1  2022      3    5

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    2 non-null      int64
 1   month   2 non-null      int64
 2   day     2 non-null      int64
dtypes: int64(3)
memory usage: 176.0 bytes

In [115]:
df.year = df.year.astype(str)
df.month = df.month.astype(str)
df.day = df.day.astype(str)

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    2 non-null      object
 1   month   2 non-null      object
 2   day     2 non-null      object
dtypes: object(3)
memory usage: 176.0+ bytes

### Adding a new column to a DF

In [117]:
df['Dt1']=df.year+'-'+df.month+'-'+df.day

In [118]:
df

   year month day       Dt1
0  2021     2   4  2021-2-4
1  2022     3   5  2022-3-5

In [119]:
pd.to_datetime(df.Dt1,format = '%Y-%m-%d')

0   2021-02-04
1   2022-03-05
Name: Dt1, dtype: datetime64[ns]

In [120]:
df['Dt2']= pd.to_datetime(df.Dt1,format = '%Y-%m-%d')

In [121]:
df
df.info()

   year month day       Dt1        Dt2
0  2021     2   4  2021-2-4 2021-02-04
1  2022     3   5  2022-3-5 2022-03-05

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    2 non-null      object
 1   month   2 non-null      object
 2   day     2 non-null      object
 3   Dt1     2 non-null      object
 4   Dt2     2 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 208.0+ bytes

## apply() in Pandas

In [122]:
car_df.head()

,Car_ID,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,13495.0
1,2,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,16500.0
2,3,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,ohcv,six,152,mpfi,9.0,154,5000,19,26,16500.0
3,4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950.0
4,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450.0

In [123]:
car_df.city_mpg*0.425

0       8.925
1       8.925
2       8.075
3      10.200
4       7.650
        ...
200     9.775
201     8.075
202     7.650
203    11.050
204     8.075
Name: city_mpg, Length: 205, dtype: float64

In [124]:
car_df.num_of_cylinders.unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [125]:
def map_num_name(x):
    '''Works only for these numbers 
    ['four', 'six', 'five', 'three', 'twelve', 'two', 'eight']'''
    if x == 'four':
        return 4
    elif x == 'six':
        return 6
    elif x == 'five':
        return 5
    elif x == 'three':
        return 3
    elif x == 'twelve':
        return 12
    elif x == 'two':
        return 2
    elif x == 'eight':
        return 8

In [126]:
map_num_name('four')
map_num_name('five')
map_num_name('six')

4

5

6

### using apply

In [127]:
car_df.num_of_cylinders.apply(map_num_name)

0      4
1      4
2      6
3      4
4      5
      ..
200    4
201    4
202    6
203    6
204    4
Name: num_of_cylinders, Length: 205, dtype: int64

In [128]:
car_df.num_of_cylinders.apply(map_num_name)

0      4
1      4
2      6
3      4
4      5
      ..
200    4
201    4
202    6
203    6
204    4
Name: num_of_cylinders, Length: 205, dtype: int64

### other operators

In [129]:
k = []
for i in car_df.num_of_cylinders:
    k.append(map_num_name(i))

In [130]:
car_df['num_of_cylinders'] = k

In [131]:
car_df.columns.to_list().index('num_of_cylinders')
car_df.columns.get_loc('num_of_cylinders')

car_df.insert(15,'num_of_cylinders_int1', k)

14

14

In [132]:
car_df

,Car_ID,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,num_of_cylinders,num_of_cylinders_int1,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,4,4,130,mpfi,9.0,111,5000,21,27,13495.0
1,2,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,4,4,130,mpfi,9.0,111,5000,21,27,16500.0
2,3,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,6,6,152,mpfi,9.0,154,5000,19,26,16500.0
3,4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,4,4,109,mpfi,10.0,102,5500,24,30,13950.0
4,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,5,5,136,mpfi,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,4,4,141,mpfi,9.5,114,5400,23,28,16845.0
201,202,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,4,4,141,mpfi,8.7,160,5300,19,25,19045.0
202,203,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,6,6,173,mpfi,8.8,134,5500,18,23,21485.0
203,204,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,6,6,145,idi,23.0,106,4800,26,27,22470.0
204,205,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,4,4,141,mpfi,9.5,114,5400,19,25,22625.0

In [133]:
map_dict = {'four': 4,
 'six': 6,
 'five': 5,
 'three': 3,
 'twelve': 12,
 'two': 2,
 'eight': 8}

In [134]:
#multiple approaches of converting th text to num
car_df.num_of_cylinders.map(map_dict)
car_df.num_of_cylinders.replace(map_dict)
car_df.num_of_cylinders.replace(['four','six','five','three','twelve','two','eight'],[4,6,5,3,12,2,8])

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
200   NaN
201   NaN
202   NaN
203   NaN
204   NaN
Name: num_of_cylinders, Length: 205, dtype: float64

0      4
1      4
2      6
3      4
4      5
      ..
200    4
201    4
202    6
203    6
204    4
Name: num_of_cylinders, Length: 205, dtype: int64

0      4
1      4
2      6
3      4
4      5
      ..
200    4
201    4
202    6
203    6
204    4
Name: num_of_cylinders, Length: 205, dtype: int64